.navbar {
  padding-bottom: 3rem;
}

.CRUD-products {
  display: flex;
  justify-content: center;
}

.add-product {
  position: absolute;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: #14192F;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: #14192F !important;
}

.signOutButton {
  background-color: None !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: transparent !important;
}