.navbar {
    padding-bottom: 3rem;
  }

.sales-by-products {
    display:flexbox;
    justify-content: left;
    padding-left: 3rem;
    padding-right: 30rem;
    padding-bottom: 3rem;
}

.product-sales-chart {
    display:flexbox;
    justify-content: left;
    padding-left: 3rem;
    padding-right: 30rem;
    padding-bottom: 3rem;
}

.pairings {
    display:flexbox;
    justify-content: left;
    padding-left: 5rem;
    padding-right: 30rem;
    padding-bottom: 3rem;
}
